<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit listing</title>
</head>
<body>
    <h3>working</h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
        <input type="text" name="listing[title]" value="<%= listing.title %>"><br>
        <textarea name="listing[description]" cols="30" rows="3"><%= listing.description %></textarea><br>
        <input type="text" name="listing[image]" value="<%= listing.image.url %>"><br>
        <input type="number" name="listing[price]" value="<%= listing.price %>"><br>
        <input type="text" name="listing[location]" value="<%= listing.location %>"><br>
        <input type="text" name="listing[country]" value="<% listing.country %>"><br>
        <button>Submit</button>
    </form>
</body>
</html>